html, body {
  margin: 0;
}

/*.top-image {
  width: 800px;
  max-width: 100%;
}*/

div.text-container {
  margin: 0 3px;
}

.homeLink {
  text-decoration: none;
  color: black;
}

#myName {
  text-decoration: none;
}

.leftSideLink {
  margin-right: 10px;
}

.rightSideLink {
  float: right;
  margin-left: 10px;
}

.photo {
  width: 800px;
  margin-bottom: 8px;
}