html, body {
  margin: 0;
  div.mainContainer {
    // width: 800px;
    img.topImage {
      width: 800px;
      max-width: 100%;
    }
    div.textContainer {
      margin: 0 3px;
      .homeLink {
        text-decoration: none;
        color: black;
        h1 {
          #myName {
            text-decoration: none;
          }
        }
      }
      div.indexNav {
        .link {
          // color: #8db5ac;
        }
        .leftSideLink {
          margin-right: 10px;
        }
        .rightSideLink {
          float: right;
          margin-left: 10px;
        }
      }
    }
  }
}