.top-image {
  width: 800px;
  max-width: 100%;
}

iframe.soundCloud {
  border: none;
  margin-bottom: 1rem;
  width: 100%;
}

div.vimeoLinks {
  align-self: center;
}

.vimeoIframe{
  margin-bottom: 1rem;
  max-width: 100%;
  border: none;
}

div.youtubeLinks {
  align-self: center;
}

.youtubeIframe {
  margin-bottom: 1rem;
  display: block;
  max-width: 100%;
  border: none;
}