div.mainContainer {
  img.topImage {
    width: 800px;
    max-width: 100%;
  }
  div.soundcloudLinks {
   iframe.soundCloud {
      border: none;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  div.vimeoLinks {
    align-self: center;
    iframe {
      margin-bottom: 1rem;
      max-width: 100%;
      border: none;
    }
  }
  div.youtubeLinks {
    align-self: center;
    iframe {
      margin-bottom: 1rem;
      display: block;
      max-width: 100%;
      border: none;
    }
  }
}